---
import NavBar from "../components/navbar.astro";
import "./base.sass";
import * as k from "../misc/constants";
import siteURL from "../misc/siteURL.mjs";

import appleIcon from "../../assets/icons/apple-touch-icon.png";
import favicon from "../../assets/icons/favicon.ico";
import favicon32 from "../../assets/icons/favicon-32x32.png";
import favicon16 from "../../assets/icons/favicon-16x16.png";
import { manifest, ldJson } from "../misc/manifest";
// prettier-ignore
const { title: t, description = k.description, searchWords = k.searchWords } = Astro.props;
const title = `${t ? `${t} | ` : ""}${k.siteName}`;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="shortcut icon" href={favicon} />
        <link rel="icon" type="image/png" sizes="32x32" href={favicon32} />
        <link rel="icon" type="image/png" sizes="16x16" href={favicon16} />
        <link rel="apple-touch-icon" sizes="180x180" href={appleIcon} />
        <link rel="manifest" href={manifest("light")} />
        <script type="application/ld+json" set:html={ldJson}></script>
        <meta name="color-scheme" content="light" />
        <meta name="theme-color" content="#FFFFFF" />
        <title>{title}</title>
        <meta name="description" content={description} />
        <meta name="keywords" content={searchWords.join(", ")} />
        <meta name="canonical" content={siteURL} />
        <meta name="creator" content={k.creatorName} />
        <meta name="og:title" content={title} />
        <meta name="og:description" content={description} />
        <meta name="og:site_name" content={k.siteName} />
        <meta name="og:email" content={`hello@${new URL(siteURL).hostname}`} />
        <meta name="og:image" content={k.coverLocation.url} />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:creator" content={`@${k.creatorUsername}`} />
    </head>
    <body>
        <NavBar />
        <main>
            <slot />
        </main>
    </body>
</html>
